.header {
    padding: 10px;

    .title {
        font-size: 30px;
        color: #4894fe;
        font-family: 'Permanent Marker';
    }
}

.song-container {
    margin: 20px 100px;
    padding: 10px;
    height: 88vh;
    border-radius: 20px;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.2);

    #list-title {
        font-family: 'Permanent Marker';
        font-size: 20px;
        color: black;
    }

    .list {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .song-card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgb(241, 241, 241);
            width: 200px;
            height: 220px;
            border-radius: 10px;
            margin: 10px;

            .song-cover {
                height: 150px;
                border-radius: 5px;
                margin-bottom: 5px;
            }
            .song-title {
                font-size: 16px;
                display: block;
                text-align: center;
                font-family: 'Raleway Regular';
            }

            &:hover {
                background-color: #4893fe3b;
            }
        }
    }
}