/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0px;
}

@font-face {
    font-family: "Permanent Marker";
    src: url('./assets/PermanentMarker-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Raleway Regular";
    src: url('./assets/Raleway-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Raleway Medium";
    src: url('./assets/Raleway-Medium.ttf') format("truetype");
}

.rso-btn {
    border: 0px;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-family: 'Raleway Medium';
    
    &.blue-btn {
        background-color: #4893fe;
    }

    &.grey-btn {
        background-color: grey;
    }

}