<div *ngIf="pageLoaded">
    <div class="header">
        <span class="title">RSOPlayer</span>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <div class="center-container col-8">
            <div class="song-div">
                <img src="../../assets/cover.jpg" class="song-cover">
                <span class="song-title">{{song.title}}</span>
                <span class="small-text">Uploaded by: {{song.uploadedBy}}</span>
                <span class="small-text">{{song.description}}</span>
                <button (click)="play()">Play</button>
                <button (click)="pause()">Pause</button>
            </div>

            <div class="comments-div">
                <span class="title">Comments</span>
                <app-song-comment *ngFor="let comment of comments" [comment]="comment.comment"
                    [songCommentId]="comment.songCommentId">
                </app-song-comment>
            </div>
        </div>
    </div>

</div>